# Ignore history files
/.history

# Exclude files specific to my machine
/ForceConnectWifi/*.bat

# Ignore .vscode folder
.vscode/

# Ignore backup files
*.bak

# Git config sentinel file (created by profile setup)
.git-config-done

# Profile timing log
powershell-profile/profile_timing.log